body {
  min-height: 100vh;
  /* background-color: #bdd5ff; */
}

.image {
  width: 300px;
  height: 300px;
}
.imagelk {
  width: 400px;
  height: 400px;
}

.text-welcome {
  font-size: 3ch;
}

.container2 {
  display: flex;
}

#block2 {
  margin-right: 500px;
  width: 1400px;
}

nav,
#sticky-footer {
  background-color: #16CE87
}

.fa {
  padding: 10px;
  /* font-size: 50px; */
  width: 70px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 20%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#cont-news {
  margin-top: 30px;
  max-width: 1100px;
  width: 100%;
  border: solid 1px grey;
}

#cont-cont {
  margin-top: 30px;
  max-width: 1100px;
  width: 100%;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.button,
.btn {
  background: #bdd5ff;
  color: grey;
  padding: 1em;
  text-decoration: none;
}

.button:hover,
.btn {
  color: black;
  text-decoration: none;
  background-color: #bdd5ff;
}
