<form method="PUT" action="/lk/{{userId}}" name='formLk'>
<div class="card" style="width: 18rem;">
  <img src="https://st.depositphotos.com/1003711/1972/i/600/depositphotos_19720535-stock-photo-no-face-man.jpg" class="card-img-top" alt="...">
  <input name="myFile" type="file">
</div>
  <div class="mb-3">
    <label for="firstName" class="form-label">Имя</label>
    <input type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}">
  </div>
    <div class="mb-3">
    <label for="middleName" class="form-label">Отчество</label>
    <input type="text" class="form-control"  name="middleName" value="{{middleName}}">
  </div>
  <div class="mb-3">
    <label class="form-label">Область деятельности</label>
    <select class="form-select" aria-label="Default select example" name="specialization">
  <option selected>Не выбрано</option>
  <option value="Астрология">Астрология</option>
  <option value="Таро">Таро</option>
  <option value="Психология">Психология</option>
  <option value="Гештальт">Гештальт</option>
  <option value="Нумерология">Нумерология</option>
  <option value="Нутрициология">Нутрициология</option>
</select>
  </div>
  <div class="mb-3">
    <label  class="form-label">Уровень</label>
    <select class="form-select" aria-label="Default select example" name="level">
  <option selected value="Начинающий">Начинающий</option>
  <option value="Практикующий">Практикующий</option>
  <option  value="Мастер">Мастер</option>
  <option value="Обучающий">Обучающий</option>
</select>
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>


{{!-- <script>
 const formLk = document.forms.formLk;
 formLk.addEventListener("submit", async (e) => {
   e.preventDefault();

   const obj = {firstName: formLk.firstName.value, lastName: formLk.lastName.value, middleName: formLk.middleName.value, specialization: formLk.specialization.value, level: formLk.level.value};
console.log(obj)
   const response = await fetch(formLk.action, {
     method: "PUT",
     headers: {
       "Content-type": "application/json",
     },
     body: JSON.stringify(obj)
   })

   if(response.status === 200) {
     window.location.href = '/'

   } else {
     console.log('error')
   }

 })
</script> --}}
